.container {
  display: flex;
  flex-wrap: wrap;
}

.game-and-score {
  display: flex;
  flex-wrap: wrap;
}



.score {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
  vertical-align: middle;
  text-align: center;
}

#start-pause {
  margin: 10px
}

.game-area {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  height: 520px;
}

.game-area div {
  width: 10px;
  height: 10px;
}

.out-of-bounds {
  background-color: red;
}

.in-bounds {
  background-color: green;
}

.snake {
  background-color: yellow;
}

.food {
  background-color: blue;
}
